POSTGRES_URL=http://localhost:5432
POSTGRES_PRISMA_URL=postgresql://default:postgres@localhost:5432/postgres
POSTGRES_URL_NO_SSL=postgresql://default:postgres@localhost:5432/postgres
POSTGRES_URL_NON_POOLING=postgresql://default:postgres@localhost:5432/postgres
POSTGRES_USER=default
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres
BLOB_READ_WRITE_TOKEN=
AUTH_SECRET=test
ADMIN_EMAIL=admin@home.app
ADMIN_PASSWORD=admin
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=theofournier
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=